.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  color: #333;
  font-size: 2.5rem;
}

.link {
  text-decoration: none;
  color: #007BFF;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}
